$white: #fff;
$grey: rgb(216, 216, 216);
$red-dark:  #693F40;
$red-light: #9B6364;

.text-red-dark {
  color: $red-dark;
}
.text-red-light {
  color: $red-light;
}

body {
  min-height: 75rem;
  padding-top: 4.5rem;
  position: relative;
}

form #website {
  display:none;
}

/* Anchor link offset */
a.anchor {
  display: block;
  position: relative;
  top: -140px;
  visibility: hidden;
}

/* Portfolio Gallery */
#gallery img {
  height: 75vw;
  object-fit: cover;
}
@media (min-width: 576px) {
  #gallery img {
    height: 35vw;
 }
}
@media (min-width: 992px) {
  #gallery img {
    height: 26vw;
 }
}
#imgModal .carousel-item img {
  height: 60vw;
  object-fit: cover;
}
@media (min-width: 576px) {
  #imgModal .carousel-item img {
    height: 650px;
 }
}

/* Footer */
footer {
  a {
    color: $white;
    
    &:hover,
    &:focus {
      color: $grey;
    }
  }
}